{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}
{% block description %}Trouver un film{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="assets/css/nouislider.css">
	<link rel="stylesheet" href="assets/css/rc-nouislider.css">
{% endblock %}

{% block javascripts %}
	<script src="assets/js/nouislider.js"></script>
	<script src="assets/js/wNumb.js"></script>
{% endblock %}


{% block body %}
	<h1 class="text-center text-warning p-5 fw-semibold animate__animated animate__bounceInDown">{{ ficheCinePaginator.getTotalItemCount }} films</h1>
	<div class="mb-5">
		{{ knp_pagination_render(ficheCinePaginator) }}
	</div>
	<div class="row gx-5">
		{# Colonne de gauche avec les options de recherches #}
		<div class="col-6 offset-3 offset-md-0 col-md-4 col-lg-3">
			{# Formulaire de recherche par titres #}
			<div class="fw-semibold pb-3">
				Tout ou partie du titre VF ou VO.
				{{ form_start(chercheTitreFilmForm) }}
				<div class="input-group">
					{{ form_widget(chercheTitreFilmForm.filterTitle) }}
					<button type="submit" class="btn btn-outline-secondary">
						<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="25px" width="25px" preserveaspectratio="xMidYMid meet" focusable="false">
							<path fill="none" d="M0 0h24v24H0V0z"></path>
							<path fill="white" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0016 9.5 6.5 6.5 0 109.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
						</svg>
					</button>
				</div>
				{{ form_end(chercheTitreFilmForm) }}
			</div>
			{# Afficher l'intégralité des films #} 
			<div class="d-flex flex-column text-center border-top border-secondary py-3">
				<a href="{{ path('app_home_page_index') }}" class="btn btn-outline-light">Tous les films...</a>
			</div>
			{# Formulaire de recherche par filtre #}
			<div class="fw-semibold border-top border-secondary py-3">
				<p class="text-uppercase fs-6 text-light text-center">Choisir ses critères</p>
				<hr>
				{# Ce thème de formulaire sera appliqué qu'au formulaire de ce modèle #}
				{# {% form_theme multiFilterFilmForm 'bootstrap_5_layout.html.twig' %} #}
				{{form_start(multiFilterFilmForm)}}
				{{form_row(multiFilterFilmForm.genre)}}
				{# Slider filtre pour date de sortie #}
				<div class="fw-semibold border-top border-secondary py-3">
					<label for="date-slider" class="form-label text-uppercase fs-6 mb-3">Sorti en</label>
					<div id="date-slider" data-value={{date}}></div>
					<div class="d-flex justify-content-between mt-3">
						<span id="date-slider-padding-value-min"></span>
						<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="30px" width="30px" preserveaspectratio="xMidYMid meet" focusable="false">
							<path fill="none" d="M0 0h24v24H0V0z"></path>
							<path fill="white" d="M9.01 14H2v2h7.01v3L13 15l-3.99-4v3zm5.98-1v-3H22V8h-7.01V5L11 9l3.99 4z"></path>
						</svg>
						<span id="date-slider-padding-value-max"></span>
					</div>
				</div>
				{# Slider filtre pour le score des utilisateurs #}
				<div class="fw-semibold border-top border-secondary py-3">
					<label for="score-slider" class="form-label text-uppercase fs-6 mb-3">Score de l'utilisateur</label>
					<div id="score-slider" data-value={{score}}></div>
					<div class="d-flex justify-content-between mt-3">
						<span id="score-slider-padding-value-min"></span>
						<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="30px" width="30px" preserveaspectratio="xMidYMid meet" focusable="false">
							<path fill="none" d="M0 0h24v24H0V0z"></path>
							<path fill="white" d="M9.01 14H2v2h7.01v3L13 15l-3.99-4v3zm5.98-1v-3H22V8h-7.01V5L11 9l3.99 4z"></path>
						</svg>
						<span id="score-slider-padding-value-max"></span>
					</div>
				</div>
				{# Slider filtre de durée du film #}
				<div class="fw-semibold border-top border-secondary py-3">
					<label for="duree-slider" class="form-label text-uppercase fs-6 mb-3">Durée</label>
					<div id="duree-slider" data-value={{duree}}></div>
					<div class="d-flex justify-content-between mt-3">
						<span id="duree-slider-padding-value-min"></span>
						<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="30px" width="30px" preserveaspectratio="xMidYMid meet" focusable="false">
							<path fill="none" d="M0 0h24v24H0V0z"></path>
							<path fill="white" d="M9.01 14H2v2h7.01v3L13 15l-3.99-4v3zm5.98-1v-3H22V8h-7.01V5L11 9l3.99 4z"></path>
						</svg>
						<span id="duree-slider-padding-value-max"></span>
					</div>
				</div>
				{# Liste des réalisateurs #}
				{{form_row(multiFilterFilmForm.realisateur)}}
				{# Liste des acteurs #}
				{{form_row(multiFilterFilmForm.acteur)}}
				{{form_end(multiFilterFilmForm)}}
			</div>
		</div>
		{# Colonne de droite pour afficher le informations sur les films #}
		<div class="col-md">
			{% for data in ficheCinePaginator %}
				{# Carte descriptive du film #}
				<div
					class="d-flex fw-light mb-5">
					{# Carte: Colonne de gauche avec l'affiche #}
					<div>
						{% if(data.afficheFilename is null) %}
							<img src="{{ asset("assets/images/empty_portrait.webp") }}" alt="..." style="width: 200px;">
						{% else %}
							<img src="{{ asset(data.afficheFilename, "affiches") }}" alt="..." style="width: 200px;">
						{% endif %}
					</div>
					{# Carte: Colonne de droite avec les infos du films #}
					<div class="px-3">
						<h5 class="title-color fw-semibold mb-3">{{ data.titre }}</h5>
						<p class="fst-italic mb-2">{{ data.titreOriginal }}</p>
						<div class="mt-2">
							{# Date de sortie #}
							{% if data.date is not null %}
								<small>Sortie le
									{{ data.date|format_datetime('long', 'none', locale='fr') }}</small>
								<span class="mx-2 fw-bold">
									|
								</span>
							{% endif %}
							{# Duree du film #}
							{% if data.duree is not null %}
								{% set duree = data.duree * 60 %}
								{% set duree = duree|format_time("short")|split(':') %}
								{% set getHours = duree[0] ~ 'h ' %}
								{% set getMin = duree[1] ~ 'min' %}
								<small>{{ getHours ~ getMin }}</small>
							{% endif %}
						</div>
						{# Note des spectateurs #}
						<div class="mt-2">
							{% if data.score is not null %}
								<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="27px" width="27px" preserveaspectratio="xMidYMid meet" focusable="false">
									<path fill="none" d="M0 0h24v24H0V0z"></path>
									<path fill="#ffc000" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27z"></path>
								</svg>
								{{ data.score}}
								/ 5
							{% endif %}
						</div>
						{# Genre #}
						<div class="mt-2">
							{% if data.genre|length > 0 %}
								<span class="text-secondary">Genre :
								</span>
								{{ data.genre|map(p => "#{p.nom}")|join(', ') }}.
							{% endif %}
						</div>
						{# Réalisateur #}
						<div class="mt-2">
							{% if data.realisateur|length > 0 %}
								<span class="text-secondary">Réalisateur :
								</span>
								{{ data.realisateur|map(p => "#{p.nom}")|join(', ') }}.
							{% endif %}
						</div>
						{# Acteurs #}
						<div class="mt-2">
							{% if data.acteur|length > 0 %}
								<span class="text-secondary">Avec
								</span>
								{{ data.acteur|map(p => "#{p.nom}")|join(', ') }}.
							{% endif %}
						</div>
						{# Résumé #}
						<div class="mt-3">
							{% if data.synopsis is not null %}
								{{ data.synopsis }}.
							{% endif %}
						</div>
						<small class="text-muted">
							<a href="{{ data.url }}" target="_blank">{{ data.url }}</a>
						</small>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="my-4">
		{{ knp_pagination_render(ficheCinePaginator) }}
	</div>
{% endblock %}

{% block javascripts_body %}
	<script>
		// Récupère le formulaire avec les filtres pour automatiser évenement submit à chaque modification du filtre
		formFilter = document.querySelector("form[name='multi_filter_film']");

		// Fitrer par genre(s) et déclencher de l'event submit.
		genre = document.getElementById('multi_filter_film_genre');
		genre.addEventListener('change', (event) => {
			formFilter.submit();
		});

		// Fitrer par réalisateur(s) et déclencher de l'event submit.
		realisateur = document.getElementById('multi_filter_film_realisateur');
		realisateur.addEventListener('change', (event) => {
		formFilter.submit();
		});

		// Fitrer par acteur(s) et déclencher de l'event submit.
		acteur = document.getElementById('multi_filter_film_acteur');
		acteur.addEventListener('change', (event) => {
		formFilter.submit();
		});


		/* ------------------- SLIDER DATE ------------------------------ */
		/*          https://refreshless.com/nouislider/                   */
		const dateSlider = document.getElementById('date-slider');
		// Récupère les valeurs mini et maxi pour positionner les curseurs du slider
		const dateStart = dateSlider.getAttribute('data-value');
		const arrayDateStart = dateStart.split('|');
		const dateNow = new Date().getFullYear();
		noUiSlider.create(dateSlider, {
		// start: [1899, dateNow],
		start: [
		arrayDateStart[0], arrayDateStart[1]
		],
		step: 1,
		orientation: 'horizontal', // "vertical" , "horizontal"
		connect: true,
		range: {
		'min': 1899,
		'max': dateNow
		},
		format: wNumb(
		{decimals: 0}
		)
		});
		var dateSliderConnect = dateSlider.querySelectorAll('.noUi-connect');
		for (var i = 0; i < dateSliderConnect.length; i++) {
		dateSliderConnect[i].classList.add('c-1-color');
		}
		var dateSliderPaddingMin = document.getElementById('date-slider-padding-value-min');
		var dateSliderPaddingMax = document.getElementById('date-slider-padding-value-max');
		dateSlider.noUiSlider.on('update', function (values, handle) {
		if (handle) {
		dateSliderPaddingMax.innerHTML = values[handle];
		} else {
		dateSliderPaddingMin.innerHTML = values[handle];
		}
		const date = document.getElementById('multi_filter_film_date');
		date.value = dateSliderPaddingMin.innerHTML + "|" + dateSliderPaddingMax.innerHTML;
		});
		// Déclencher l'envoi du formulaire
		dateSlider.noUiSlider.on('change', function (values, handle) {
		formFilter.submit();
		});


		/* ------------------- SLIDER SCORE SPECTATEURS ------------------------------ */
		var scoreSlider = document.getElementById('score-slider');
		// Récupère les valeurs mini et maxi pour positionner les curseurs du slider
		const scoreStart = scoreSlider.getAttribute('data-value');
		const arrayScoreStart = scoreStart.split('|');
		noUiSlider.create(scoreSlider, {
			// start: [0, 5],
			start: [
				arrayScoreStart[0], arrayScoreStart[1]
			],
			step: 0.1,
			orientation: 'horizontal', // "vertical" , "horizontal"
			connect: true,
			range: {
				'min': 0,
				'max': 5
			},
			format: wNumb(
				{decimals: 1}
			)
		});
		var scoreSliderConnect = scoreSlider.querySelectorAll('.noUi-connect');
		for (var i = 0; i < scoreSliderConnect.length; i++) {
			scoreSliderConnect[i].classList.add('c-1-color');
		}
		var scoreSliderPaddingMin = document.getElementById('score-slider-padding-value-min');
		var scoreSliderPaddingMax = document.getElementById('score-slider-padding-value-max');
		scoreSlider.noUiSlider.on('update', function (values, handle) {
			if (handle) {
				scoreSliderPaddingMax.innerHTML = values[handle];
			} else {
				scoreSliderPaddingMin.innerHTML = values[handle];
			}
			const score = document.getElementById('multi_filter_film_score');
			score.value = scoreSliderPaddingMin.innerHTML + "|" + scoreSliderPaddingMax.innerHTML;
		});
		// Déclencher l'envoi du formulaire
		scoreSlider.noUiSlider.on('change', function (values, handle) {
		formFilter.submit();
		});


		/* ------------------- SLIDER DUREE ------------------------------ */
		var dureeSlider = document.getElementById('duree-slider');
		// Récupère les valeurs mini et maxi pour positionner les curseurs du slider
		const dureeStart = dureeSlider.getAttribute('data-value');
		const arrayDureeStart = dureeStart.split('|');
		noUiSlider.create(dureeSlider, {
		// start: [1, 255],
		start: [
		arrayDureeStart[0], arrayDureeStart[1]
		],
		step: 1,
		orientation: 'horizontal', // "vertical" , "horizontal"
		connect: true,
		range: {
		'min': 1,
		'max': 255
		},
		format: wNumb(
		{decimals: 0, suffix: ' mn'}
		)
		});
		var dureeSliderConnect = dureeSlider.querySelectorAll('.noUi-connect');
		for (var i = 0; i < dureeSliderConnect.length; i++) {
		dureeSliderConnect[i].classList.add('c-1-color');
		}
		var dureeSliderPaddingMin = document.getElementById('duree-slider-padding-value-min');
		var dureeSliderPaddingMax = document.getElementById('duree-slider-padding-value-max');
		dureeSlider.noUiSlider.on('update', function (values, handle) {
		if (handle) {
		dureeSliderPaddingMax.innerHTML = values[handle];
		} else {
		dureeSliderPaddingMin.innerHTML = values[handle];
		}
		const duree = document.getElementById('multi_filter_film_duree');
		dureeMin = dureeSliderPaddingMin.innerHTML;
		dureeMax = dureeSliderPaddingMax.innerHTML;
		duree.value = dureeMin.replace(' mn', '') + "|" + dureeMax.replace(' mn', '');
		});
		// Déclencher l'envoi du formulaire
		dureeSlider.noUiSlider.on('change', function (values, handle) {
		formFilter.submit();
		});
	</script>
{% endblock %}
