{% extends 'videotheque/liste-des-fichiers-video.html.twig' %}


{% block detailFile %}
    <h4 class="mb-3">Fiches ciné qui correspondent au film</h4>
    <div class="p-3 border border-secondary rounded">

       

        {{form_start(arrayCollectionFilmEntity)}}
            {# {{form_widget(arrayCollectionFilmEntity.path)}} #}
            {# {% for key, entity in arrayCollectionFilmEntity.path %}
                {{dump(arrayCollectionFilmEntity.vars.value[key].dateSortie)}}
                {{dump(entity.vars.value)}}
            {% endfor %} #}
        {{form_end(arrayCollectionFilmEntity)}}
    </div>
{% endblock %}


