{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="row my-5">
        <div class="col">
            <h4 class="mb-3">Liste des films n'appartenant à aucune fiche cinéma</h4>
            <div class="p-3 border border-secondary rounded">
                {{form_start(listeDesFichiersVideoNonLierAUneFicheCinemaType)}}
                    {{form_row(listeDesFichiersVideoNonLierAUneFicheCinemaType.nom)}}
                {{form_end(listeDesFichiersVideoNonLierAUneFicheCinemaType)}}
            </div>
        </div>

        <div class="col">
            {% block detailFile %}{% endblock %}
        </div>
    </div>
{% endblock %}
