<form method="post" action="{{ path('app_genre_delete', {'id': genre.id}) }}" onsubmit="return confirm('Etes vous certain de vouloir supprimer ce genre de film ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
    <button class="btn btn-outline-danger"><i class="fa-solid fa-trash fa-lg"></i> {{ button_label|default('') }}</button>
</form>
