{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    <h1>Genre index</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.nom }}</td>
                <td>
                    <div class="d-flex">
                            <div class="p-1">
                                <a href="{{ path('app_genre_show', {'id': genre.id}) }}" class="btn btn-outline-primary">
                                    <i class="fa-regular fa-eye fa-lg"></i> Voir
                                </a>
                            </div>
                            <div class="p-1">
                                <a href="{{ path('app_genre_edit', {'id': genre.id}) }}" class="btn btn-outline-primary">
                                    <i class="fa-regular fa-pen-to-square fa-lg"></i> Editer
                                </a>
                            </div>
                            <div class="p-1">
                                {{ include ('genre/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
                            </div>
                        </div> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="my-5">
        <a href="{{ path('app_genre_new') }}" class="btn btn-primary"><i class="fa-regular fa-plus" aria-hidden="true"></i> Ajouter un nouveau genre</a>
    </div>
{% endblock %}
