{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
    <h1 class="text-center fw-semibold text-warning p-5">Ajouter un nouveau genre</h1>

    {{ include('genre/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <div class="py-5">
        <a href="{{ path('app_genre_index') }}" class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour aux genres</a>
    </div>
{% endblock %}
