{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}
    <h1>Genre</h1>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ genre.nom }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row border border-start-0 border-end-0 border-secondary mt-4 p-3">
        <div class="col">
            <a href="{{ path('app_genre_edit', {'id': genre.id}) }}" class="btn btn-outline-primary"><i class="fa-regular fa-pen-to-square fa-lg"></i> Editer</a>
        </div>
        <div class="col text-end">
            {{ include('genre/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
        </div>
    </div>

    <div class="py-5">
        <a href="{{ path('app_genre_index') }}" class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour vers la liste des films</a>
    </div>

{% endblock %}
