<form method="post" action="{{ path('app_realisateur_delete', {'id': realisateur.id}) }}" onsubmit="return confirm('Etes vous certain de vouloir supprimer ce réalisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realisateur.id) }}">
    <button class="btn btn-outline-danger"><i class="fa-solid fa-trash fa-lg"></i> {{ button_label|default('') }}</button>
</form>
