{% extends 'base.html.twig' %}

{% block title %}New Realisateur{% endblock %}

{% block body %}
    <h1 class="text-center fw-semibold text-warning p-5">Ajouter un(e) réalisateur/réalisatrice</h1>

    {{ include('realisateur/_form.html.twig', {'button_label': 'Créer'}) }}

    <div class="py-5">
        <a href="{{ path('app_realisateur_index') }}"  class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour aux réalisateurs</a>
    </div>
{% endblock %}
