/* .container-icon {
    position: relative;
    height: 40px;
    width: 40px;
    padding:5px;
}

.border-left {
    border-width: 1px 0 1px 1px;
    border-style:  solid;
    border-color: gray;
    border-radius: 5px 0 0 5px;
}

.border-center {
    border: 1px solid gray;
}

.border-right {
    border-width: 1px 1px 1px 0;
    border-style:  solid;
    border-color: gray;
    border-radius: 0 5px 5px 0 ;
}

.mat-icon {
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
} */

.mat-icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
}