.loader {
    position: fixed;
    left:0;
    top:0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background: var(--bs-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__letter{
    color: var(--bs-dark);
    font-size:  50px;
    letter-spacing: 15px;
    animation: flash 1.5s linear infinite;
}

@keyframes flash {
    0%{
        color: #ffff00;
        text-shadow: 0 0 7px #ffff00;
    }
    90%{
        color: var(--bs-dark);
    }
}    
