
.title-color {
    color:#F65F54;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-light);
    --bs-tooltip-color: var(--bs-dark);
    /* --bs-tooltip-bg: #F65F54; */
    font-weight: bolder;
}

.hUcVRl::before {
	height: 0px;
	content: "";
	display: block;
	padding-bottom: 56.25%;
}

.kElZTG:last-child {
	margin-bottom: 0px;
}

.kElZTG {
	display: inline-block;
	flex: 0 0 auto;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	position: relative;
	overflow: hidden;
	backface-visibility: hidden;
	opacity: 1;
	height: calc(0.9rem);
}

.kElZTG::after {
	position: absolute;
	top: 0px;
	left: -300px;
	width: 300px;
	height: 100%;
	background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.17) 30%, rgba(255, 255, 255, 0.17) 70%, transparent);
	animation: 2s linear 0s infinite normal forwards running eDrBzi;
	z-index: 10;
	content: " ";
}
  