
{% extends 'stockage/selectDir.html.twig' %}


{% block body %}
    <div class="d-none position-absolute top-50 start-50 ne px-4 py-1 border border-secondary rounded" id="context-menu" >
        <a class="dropdown-item" href="#">Voir le film</a>
    </div>

    <div class="mt-3 p-3 border rounded">
        <h4>{{path|length}} films trouvés lors de la recherche</h4>
        <div class="d-flex flex-column text-bg-light p-2 my-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkBoxToutCocher">
                <label class="form-check-label fw-semibold" for="checkBoxToutCocher">Tout cocher</label>
            </div>
        </div>
        {{form(allFilesVideo)}}
    </div>
       
{% endblock %}

{% block javascripts_body %}
	<script>

        // document.addEventListener('contextmenu', (event) =>
        // { 
        //     // Empeche le menu par défaut d'apparaitre
        //     event.preventDefault();
        //     toogleElt = document.querySelector('#context-menu');
        //     toogleElt.classList.toggle("d-none");
            
        // })


        checkBoxToutCocher = document.getElementById('checkBoxToutCocher');
        checkBoxToutCocher.addEventListener('change',checkedBox);
        function checkedBox()
        {
            checkBox = document.querySelectorAll("form fieldset input[type=checkbox]");
            checkBox.forEach(element => {
                element.checked = checkBoxToutCocher.checked;
            });
        }
    </script>
{% endblock %}