{% extends 'base.html.twig' %}

{% block title %}Rechercher des fichiers vidéo{% endblock %}

{% block body %}
    <h1 class="text-center text-warning fw-semibold p-5">Rechercher des films</h1>
    <div class="p-3 border border-secondary rounded">
        {{ form(FileSearchVideo)}}
    </div>

    {% block scan_disk %}{% endblock %}

{% endblock %}
