
{% block stylesheets %}
    <link href="{{ asset('assets/css/display-mode.css') }}" rel="stylesheet">
{% endblock %}

<div class="d-flex">
        <div class="position-relative border border-secondary border-end-0 rounded-start p-1" style="height: 40px; width: 40px;">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="white" d="M3 3v8h8V3H3zm6 6H5V5h4v4zm-6 4v8h8v-8H3zm6 6H5v-4h4v4zm4-16v8h8V3h-8zm6 6h-4V5h4v4zm-6 4v8h8v-8h-8zm6 6h-4v-4h4v4z"></path>
            </svg>
            <div class="mat-icon position-absolute fixed-top w-100 h-100"></div>
        </div>
        <div class="position-relative border border-secondary p-1" style="height: 40px; width: 40px;">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="white" d="M3 5v14h18V5H3zm5.33 12H5V7h3.33v10zm5.34 0h-3.33V7h3.33v10zM19 17h-3.33V7H19v10z"></path>
            </svg>
            <div class="mat-icon position-absolute fixed-top w-100 h-100"></div>
        </div>
        <div class="position-relative border border-secondary border-start-0 rounded-end p-1" style="height: 40px; width: 40px;">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                <path fill="none" d="M0 0h24v24H0V0z" opacity=".87"></path>
                <path fill="white" d="M3 5v14h17V5H3zm4 2v2H5V7h2zm-2 6v-2h2v2H5zm0 2h2v2H5v-2zm13 2H9v-2h9v2zm0-4H9v-2h9v2zm0-4H9V7h9v2z"></path>
            </svg>
            <div class="mat-icon position-absolute fixed-top w-100 h-100"></div>
        </div>
    </div>