<div class="modal" tabindex="-1" id="toggleMyModal">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content text-bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title">FFmpeg</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <pre>{{body|default('')}}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>