<nav class="navbar navbar-expand-xl navbar-dark bg-dark sticky-top">
	<div class="container-fluid fw-semibold fs-5">
		<a class="navbar-brand mr-4" href="{{path('app_home_page_index')}}">
			<img src="{{ asset("logo.png", 'images') }}" width="200"/>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center border-top border-bottom border-secondary" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home_page_index') }}">Cinémathèque</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Films
					</a>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{ path('app_video_file_index') }}">Tous les films</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('app_stockage_scan_disk') }}">Rechercher des films...</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_liste_fichiers_video') }}">Lier un film à une fiche cinéma</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_scraping_index') }}">Extraction web</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Fiches cinéma
					</a>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{ path('app_fiche_cinema_index') }}">Toutes les fiches cinéma</a>
						</li>
						<li><hr class="dropdown-divider"></li>

						<li class="dropdown-submenu">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Genres
							</a>
							<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
								<li>
									<a class="dropdown-item" href="{{ path('app_genre_index') }}">Tous les genres</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_genre_new') }}">Ajouter un genre de film</a>
								</li>
							</ul>
						</li>
						<li class="dropdown-submenu">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Réalisateurs
							</a>
							<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
								<li>
									<a class="dropdown-item" href="{{ path('app_realisateur_index') }}">Tous les réalisateurs</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_realisateur_new') }}">Ajouter un réalisateur</a>
								</li>
							</ul>
						</li>
						<li class="dropdown-submenu">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Acteurs
							</a>
							<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
								<li>
									<a class="dropdown-item" href="{{ path('app_acteur_index') }}">Tous les acteurs</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_acteur_new') }}">Ajouter un acteur</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Maintenance
					</a>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{ path('app_maintenance_cleaner_database_index') }}">Nettoyer la base de données</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('app_cleaner_path_poster') }}">Nettoyer le dossier de stockage des affiches</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_request') }}">HTTP</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
