{% extends 'base.html.twig' %}

{% block title %}Nettoyer la base de données{% endblock %}

{% block body %}
    <h1 class="text-center fw-semibold text-warning p-5">Nettoyage de la base de données</h1>
    <div class="row">
         <div class="col-lg text-bg-dark">
            <div class="border border-secondary rounded p-3">
                <h3 class="py-3">Fiches cinéma avec trop peu d'informations</h3>
                <p>Liste toutes les fiches cinéma n'ayant pas de résumé, pas affiche et ne précisant pas la date de sortie.</p>
                {{form(ficheCineNonDescriptiveType)}}
            </div>
        </div>
        <div class="col-lg text-bg-dark">
            <div class="border border-secondary rounded p-3">
                <h3 class="py-3">Recherche de doublons</h3>
                {{form_start(ficheCineDoublonType)}}
                    {{form_row(ficheCineDoublonType.allSelected)}}
                    <h5>Fiches cinéma</h5>
                    {{form_row(ficheCineDoublonType.titre)}}
                    <h5>Réalisateurs</h5>
                    {{form_row(ficheCineDoublonType.realisateur)}}
                    <h5>Acteurs</h5>
                    {{form_row(ficheCineDoublonType.acteur)}}
                    {# Fortement conseillé pour afficher tout les autres champ dont le champ masqué pour le token #}
                    {{ form_rest(ficheCineDoublonType) }}
                {{form_end(ficheCineDoublonType)}}
            </div>
        </div>
        {# <div class="border border-secondary rounded p-3 my-3">
            <p>Liste dont les réalisateurs ne sont liés à aucun films</p>
            {{form(realisateurSansLienForm)}}
        </div> #}
            {# <div class="border border-secondary rounded p-3 my-3">
            <p>Liste dont les acteurs ne sont liés à aucun films</p>
        </div> #}
    </div>
{% endblock %}

{% block javascripts_body %}
    <script>
        checkBoxFicheNonDescriptive = document.getElementById('fiche_cine_non_descriptive_allSelected');
        checkBoxFicheNonDescriptive.addEventListener('change', allCheckedFicheNonDescriptive);
        function allCheckedFicheNonDescriptive()
        {
            checkBox = document.querySelectorAll("form[name=fiche_cine_non_descriptive] input[type=checkbox]");
            checkBox.forEach(element => {
                element.checked = checkBoxFicheNonDescriptive.checked;
            });
        }

        checkBoxDoublon = document.getElementById('fiche_cine_doublon_allSelected');
        checkBoxDoublon.addEventListener('change', allCheckedDoublon);
        function allCheckedDoublon()
        {
            checkBox = document.querySelectorAll("form[name=fiche_cine_doublon] input[type=checkbox]");
            checkBox.forEach(element => {
                element.checked = checkBoxDoublon.checked;
            });
        }
    </script>
{% endblock %}