{% extends 'base.html.twig' %}

{% block title %}Nettoyer le dossier de stockage des affcihes{% endblock %}

{% block body %}
    {{form(form)}}
{% endblock %}

{% block javascripts_body %}
    <script>
        checkBoxDoublon = document.getElementById('form_allSelected');
        checkBoxDoublon.addEventListener('change', allCheckedDoublon);
        function allCheckedDoublon()
        {
            checkBox = document.querySelectorAll("form[name=form] input[type=checkbox]");
            checkBox.forEach(element => {
                element.checked = checkBoxDoublon.checked;
            });
        }
    </script>
{% endblock %}