{% extends 'base.html.twig' %}

{% block title %}Web scraping{% endblock %}

{% block body %}
    <h1 class="text-uppercase text-light text-center fw-bold mt-1 p-5 animate__animated animate__bounceInDown">Web scraping / crawling <br><span class="text-warning">allociné</span></h1>
    <div class="row text-light">
        <h4 class="text-uppercase text-light fw-bold mt-1 ">Enrichir une base de donnée en automatisant l'extraction de données sur des pages web.</h4>
        <p class="text-light fw-bold mt-4">Le web scraping est une technique d'extraction du contenu de sites Web, via un script ou un programme, dans le but de le transformer pour permettre son utilisation dans un autre contexte comme l'enrichissement de bases de données, le référencement ou l'exploration de données. <br> 
            En d’autres mots, cela s'apparente à un copier-coller. Mais avec le scraping, tout est automatique. Inutile de passer des heures à répéter Ctrl + C / Ctrl + V ! Cette opération est réalisée par une application qui est capable de passer d’une page à une autre sur un site web pour récupérer toutes les données. Dans ce cas, on parle aussi alors de crawling.</p>
        <p><span class="fw-bold">{{ nombreDeFilm }}</span> références de films dans la base de données.</p>
    </div>
    <div class="row mb-5">
        <div class="text-bg-dark" id="rc-filmContainer"></div>

        <div class="col">
            <div class="border border-secondary rounded p-3">
                <h3>Extraire et stocker dans la base de données le contenu des pages web.</h3>
                <div class="form-group my-3">
                    <label for="page-min">De la page...</label>
                    <input type="number" class="mt-2 form-control text-bg-dark" id="page-min" aria-describedby="emailHelp">
                    <small id="js-helpMin"></small>
                </div>
                <div class="form-group mb-3">
                    <label for="page-max">Jusqu'à la page ...</label>
                    <input type="number" class="mt-2 form-control text-bg-dark" id="page-max" aria-describedby="emailHelp">
                    <small id="js-helpMax"></small>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" id="checkboxSaveDatabase" checked>
                    <label class="form-check-label" for="checkboxSaveDatabase">Sauvegarder les données dans la base</label>
                </div>
                <div class="d-flex flex-column">
                    <button type="button" class="btn btn-warning" onclick="extractFilm()">Lancer l'extraction</button>
                </div>
            </div>

            {# <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Liste d'urls pour l'extraction du contenu.</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="ex: https://www.allocine.fr/film/fichefilm_gen_cfilm=xxx.html"></textarea>
            </div>
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-warning" onclick="extractListe()">Lancer l'extraction</button>
            </div> #}

        </div>
    </div>
{% endblock %}

{% block javascripts_body %}
    <script>
        const inpuJstMin = document.getElementById('page-min');
        inpuJstMin.addEventListener('keyup', (event) => {
            nbre = inpuJstMin.value;
            document.getElementById('js-helpMin').textContent = `https://www.allocine.fr/film/fichefilm_gen_cfilm=${nbre}.html`;
        });

        const inpuJstMax = document.getElementById('page-max');
        inpuJstMax.addEventListener('keyup', (event) => {
            nbre = inpuJstMax.value;
            document.getElementById('js-helpMax').textContent = `https://www.allocine.fr/film/fichefilm_gen_cfilm=${nbre}.html`;
        });

        const filmContainer = document.getElementById('rc-filmContainer');
        const checkboxSaveDatabase = document.getElementById('checkboxSaveDatabase');

        const extractFilm = async() => {
            filmContainer.style.margin = "5px 0 20px 0";
            filmContainer.innerHTML = 
                `
                <h5 class="p-2 text-center text-uppercase text-warning fw-semibold" id="rc-title">Extraction des pages en cours...</h5>
                <div class="d-flex flex-row text-bg-dark" id="rc-film"></div>
                `;
            title = document.getElementById('rc-title');
            film = document.getElementById('rc-film');
            film.style.overflowX ='scroll';
            for (let numPage = inpuJstMin.value; numPage <= inpuJstMax.value; numPage++) {
                title.innerHTML = `Extraction de la page ${numPage} en cours ...`
                let dataResult = await getInfo(numPage);
                if (dataResult.isExtracted)
                {
                    film.innerHTML += 
                        `
                            <div class="border border-secondary text-bg-dark text-center p-2">
                                <div>
                                    <h6 class="fw-semibold mb-3">${ dataResult.data.titre }</h6>
                                </div>
                                <div>
                                    <img src=${ dataResult.data.url_img } alt="..." style="width:150px;">
                                </div>
                                <small>Page n° ${numPage}</small>
                            </div>
                        `
                } else {
                    film.innerHTML +=
                        ` 
                            <div class="border border-secondary text-center p-2">
                                <div style="width:150px;">
                                    <h6 class="fw-semibold mb-3 text-info">${ dataResult.message }</h6>
                                </div>
                                <small>Page n° ${numPage}</small>
                            </div>
                        `
                }
            }
            title.innerHTML = 'Extraction terminée'
        }

        const getInfo = async(numPage) => {
            const headers = new Headers();
            headers.append("Content-Type", "application/json");
            const requestOptions = {
                method: 'GET',
                headers: headers,
            };
            return fetch("{{ app.request.schemeAndHttpHost }}" + "/scraping/auto-extract-data-from-web-page/" + numPage + "/" + checkboxSaveDatabase.checked, requestOptions)
                .then(response => response.json())
                .then((data) => {
                    return data;
                })
                .catch((err) => {
                    return { 'isExtracted': false, 'message': err };
                })
            ;
        }

    </script>
{% endblock %}
