{% extends 'base.html.twig' %}

{% block title %}Rechercher des fiches cinéma{% endblock %}

{% block body %}
    <h1 class="text-center fw-semibold text-warning p-5">Télécharger des fiches cinéma pour vos films</h1>
    

        <h5>Liste des films sans fiche cinéma</h5>
        {% for video in video_files %}
            {{ video.nom }} <br>
        {% endfor %}


{% endblock %}