{% extends 'base.html.twig' %}

{% block title %}Hello RequestExampleController!{% endblock %}

{% block body %}
    <div class="row mx-2">
        {# REQUEST #}
        <div class="col-xl-7 border border-secondary p-4 mb-3">
            <h3 class="text-warning mb-3">Requête client envoyé au serveur</h3>
            <small>Une URL comporte cinq éléments :
                <span class="text-danger">[scheme:][//authority][path][?query][#fragment]</span><br>
                <span class="fw-bold">Scheme: </span>
                    Désigne le protocole de dialogue avec l’hôte de la ressource (HTTP, FTP ...)<br>
                <span class="fw-bold">Authority: </span>
                    Désigne l’hôte de la ressource (son adresse IP ou son nom, parfois le port d’entrée sur la machine, voire même le login de la connexion)<br>
                <span class="fw-bold">Path: </span>
                    Désigne le chemin de la ressource au sein de l’hôte<br>
                <span class="fw-bold">Query: </span>
                    Permet d’ajouter des paramètres (sous la forme “?nom=valeur”)<br>
                <span class="fw-bold">Fragment: </span>
                    Désigne une partie de la ressource (par exemple un numéro de page spécifique)<br>
            </small>
            <hr><hr>
            <div>
                <div class="mb-3">
                    <h5 class="mb-3">Requête GET envoyé sans paramètres.</h5>
                    <div class="p-2 border border-secondary rounded">
                        <small class="text-secondary">Twig: </small><code>{{"<a href=\"{{ path('app_request_example_with_query_params') }}\">...</a>"|escape}}</code><br>
                        <small class="text-secondary">Requête: </small><a href="{{ path('app_request_example_with_query_params') }}">http://localhost:8000/request-example/get/with-query-params</a>
                    </div>
                </div>
                <hr>
                <div class="mb-3">
                    <h5 class="mb-3">Requête GET avec (query params) optionnels transmisent dans l'url.</h5>
                    <p>Renvoi une valeur null lors du traitement de la requête pour les paramêtre non définis.</p>
                    <div class="p-2 mb-1 border border-secondary rounded">
                        <small class="text-secondary">Twig: </small><code>{{"<a href=\"{{ path('app_request_example_with_query_params', {numPage:\"20005\", checked:\"false\"}) }}\">...</a>"|escape}}</code><br>
                        <small class="text-secondary">Requête: </small><a href="{{path('app_request_example_with_query_params',{numPage:"20005", checked:"false" })}}">http://localhost:8000/request-example/get/with-query-params?numPage=20005&checked=false</a>
                    </div>
                    <div class="p-2 border border-secondary rounded">
                        <small class="text-secondary">Twig: </small><code>{{"<a href=\"{{ path('app_request_example_with_query_params', {numPage:\"20005\"}) }}\">...</a>"|escape}}</code><br>
                        <small class="text-secondary">Requête: </small><a href="{{path('app_request_example_with_query_params',{numPage:"20005"})}}">http://localhost:8000/request-example/get/with-query-params?numPage=20005</a>
                    </div>
                </div>
                <hr>
                <div class="mb-3">
                    <h5 class="mb-3">Requête GET avec (params) transmisent dans l'url.</h5>
                     <div class="p-2 border border-secondary rounded">
                        <small class="text-secondary">Twig: </small><code>{{"<a href=\"{{ path('app_request_example_with_query_params', {numPage:\"20005\", checked:\"false\"}) }}\">...</a>"|escape}}</code><br>
                        <small class="text-secondary">Requête: </small><a href="{{path('app_request_example_params',{numPage:"20005", checked:"false" })}}">http://localhost:8000/request-example/get/params/20005/false</a>
                    </div>
                </div>
                <hr>
                <div class="mb-3">
                    <h5 class="mb-3">Requête POST via un formulaire avec encodage : par defaut "application/x-www-form-urlencoded" ou "multipart/form-data"</h5>
                    {# <img src="{{ asset('formulaire.png','images')}}" class="img-fluid mb-3"> #}
                    <form action="{{ path('app_scraping_post_formulaire') }}" method="POST" enctype="application/x-www-form-urlencoded" class="p-3 border rounded">
                        <div class="form-floating mb-3 text-dark">
                            <input type="text" class="form-control" id="Valeur-du-champ" name="Valeur-du-champ" placeholder="Saisir le numéro de la page" value="Hello world" required>
                            <label for="Valeur-du-champ" class="mb-1">Saisir du texte</label>
                        </div>
                        <div class="form-floating mb-3 text-dark">
                            <input type="number" class="form-control" id="number-form-data2" name="number-form-data-2" placeholder="Saisir le numéro de la page" value=20011 required>
                            <label for="number-form-data2" class="mb-1">Saisir un nombre</label>
                        </div>
                        <div class="form-floating mb-3 text-dark">
                            <input type="number" class="form-control" id="number-form-data" name="number-form-data-1" placeholder="Saisir le numéro de la page" value=20010 required>
                            <label for="number-form-data" class="mb-1">Saisir un nombre</label>
                        </div>
                        <div class="form-control mb-3">
                            <fieldset>
                                <legend>{{"<Fieldset>"|escape}}: pour regrouper plusieurs contrôles</legend>
                                {% for i in 1..5 %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="Choix n°{{i}}" id="flexCheck-{{i}}" name="checkBox-group[]" {% if i==1 or i==2 or i==4 %}checked{% endif %}>
                                        <label class="form-check-label" for="flexCheck-{{i}}">Choix n°{{i}}</label>
                                    </div>
                                {% endfor %}
                            </fieldset>
                        </div>
                         <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" id="checkbox-form-data" name="checkbox-form-data" checked>
                            <label class="form-check-label" for="checkbox-form-data">CheckBox</label>
                        </div>
                        <div class="d-flex flex-column">
                            <button type="submit" class="btn btn-warning">Envoyer</button>
                        </div>
                    </form>
                </div>
                <hr>
                <div class="mb-3">
                    <h5 class="mb-3">Requête avec encodage JSON via l'API fetch qui fournit une meilleure alternative que la méthode XMLHttpRequest.</h5>
                    <form class="p-3 border rounded">
                        <div class="form-floating mb-3 text-dark">
                            <input type="text" class="form-control" id="Valeur-du-champ-json" placeholder="Saisir le numéro de la page" value="Hello world" required>
                            <label for="Valeur-du-champ" class="mb-1">Saisir du texte</label>
                        </div>
                        <div class="form-floating mb-3 text-dark">
                            <input type="number" class="form-control" id="number-json"  placeholder="Saisir le numéro de la page" value=20020 required>
                            <label for="number-form-data" class="mb-1">Saisir un nombre</label>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" id="checkbox-json"  checked>
                            <label class="form-check-label" for="checkbox-form-data">CheckBox</label>
                        </div>
                        <div class="d-flex flex-column">
                            <button type="button" class="btn btn-warning"  onclick="sendData()">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# RESPONSE #}
        <div class="col-xl border border-secondary p-4 mb-3" id="showResponse">
            <h3 class="text-warning mb-3">Réponse du serveur aprés traitement de la requête.</h3>
            <hr>
            <hr>
            <div class="mb-3">
                <h5>Adresse IP du client</h5>
                {{ ip }}
            </div>
            <hr>
            <div class="mb-4">
                <h5>Méthodes (GET, POST, PUT, PATCH, HEAD)</h5>
                {{ methode }}
            </div>
            <hr>
            <div class="mb-4">
                <h5>Méthode d'encodage (Content-type)</h5>
                {{ content_type }}
            </div>
            <hr>
            <div class="mb-4">
                <h5>Paramètre de la requête</h5>
                {% for key, param in params %}
                    <span class="text-success">{{ key }}</span> : {{param|join(',')}} <br>
                {% endfor %}
            </div>
            <hr>
            <div class="mb-4">
                <h5>Liste des en-tête de la requête</h5>
                {% for key, header in headers %}
                    <span class="text-success">{{ key }}</span> : {{header|join(',')}} <br>
                {% endfor %}
            </div>
        </div>
    </div>   
{% endblock %}

 {% block javascripts_body %}
    <script>
        let champText = document.getElementById('Valeur-du-champ-json');
        let champNumber = document.getElementById('number-json');
        let checkBox = document.getElementById('checkbox-json');
        let showResponse = document.getElementById('showResponse');


        let sendData = async() => {
            // Object javascript, sera converti en Json et envoyé dans le corps de la requête.
            let body = {
                nomChamp: champText.value, 
                numChamp: champNumber.value, 
                checkBox:checkBox.checked
            }
            // Envoie et recupère la reponse du serveur
            let getData = await post(body);
            // Rendu des données au format HTML
            showResponse.innerHTML = getHtml(getData);
        }

        // Requête asynchrone avec l'API FETCH
        const post = async(body) => {
            const headers = new Headers();
            headers.append("Content-Type", "application/json");

            const requestOptions = {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(body)
            };

            return fetch("{{ app.request.schemeAndHttpHost }}" + "/request-example/post/json", requestOptions)
                .then(response => response.json())
                .then((data) => {
                    return data;
                })
                .catch((err) => {
                    return { 'message': err };
                })
            ;
        }

        // Construction de la reponse en html
        const getHtml = (data) => {
            return (
            `
            <h2 class="text-warning mb-3">Réponse du serveur aprés traitement de la requête.</h2>
                <hr>
                <div class="mb-3">
                    <h4>Adresse IP du client</h4>
                    ${data.ip}
                </div>
                <div class="mb-4">
                    <h4>Méthodes (GET, POST, PUT, PATCH, HEAD)</h4>
                    ${data.methode}
                </div>
                <div class="mb-4">
                    <h4>Méthode d'encodage (Content-type)</h4>
                    ${data.content_type}
                </div>
                <div class="mb-4">
                    <h4>Paramètre de la requête</h4>
                    ${jsObjectToString(data.params)}
                </div>
                <div class="mb-4">
                    <h4>Liste des en-tête de la requête</h4>
                    ${jsObjectToString(data.headers)}
                </div>
            `
            )
        }

        // converti un object en chaine de caractères.
        const jsObjectToString = (params) => {
            let str_params = '';
            for (var key in params) {
                if (params.hasOwnProperty(key)) {
                    str_params += `<span class="text-success"> ${key}</span>: ${ params[key]} <br>`;
                }
            }
            return str_params;
        }

    </script>
 {% endblock %}

