<!DOCTYPE html>
<html>
    <head>
        {# Indiquer aux user agents l’encodage du document HTML  #}
        <meta charset="UTF-8">

        {# Contrôler la mise en page sur les navigateurs mobiles #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# ----------------- HTML Meta Tags ----------------- #}
        <meta name="author" content="Eric Lanza"/>
        <meta name="copyright" content="copyright2020©Lanza"/>
        {# Icon pour enjoliver la page #}
        <link rel="icon" type="image/png" href="{{ asset("logo.png", 'images') }}"/>
        {# Titre et description de la page #}
        <title>{{ block('title') ~ ' - Vidéothèque' }}</title>
        <meta name="description" content="{{ block('description') }}"/>

        {# ----------------- Facebook Meta Tags ----------------- #}
        <meta property="og:url" content="{{ app.request.uri }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:locale" content="fr_FR"/>
        <meta property="og:title" content="{{ block('title') ~ ' - Vidéothèque' }}"/>
        <meta property="og:description" content="{{ block('description') }}"/>
        <meta property="og:image" content="{{ asset('') }}"/>
        <meta property="og:image:width" content="300" />
        <meta property="og:image:height" content="170" />

        {# ----------------- Twitter Meta Tags ----------------- #}
        <meta property="twitter:url" content="{{ app.request.uri }}"/>
        <meta property="twitter:domain" content=""/>
        {# Doit être défini sur une valeur de "summary_large_image"  #}
        <meta name="twitter:card" content="summary_large_image">
        {# Le Twitter @username auquel la carte doit être attribuée.  #}
        <meta name="twitter:site" content="@nytimes"/>
        {# @username pour le créateur/auteur du contenu. #}
        <meta name="twitter:creator" content="@EricLanza"/>
        {# Un titre concis pour le contenu connexe. peut-être défini par og:title  #}
        <meta name="twitter:title" content="{{ block('title') }} - Vidéothèque"/>
        {# Une description qui résume de manière concise le contenu approprié pour la présentation dans un Tweet. #}
        <meta name="twitter:description" content="{{ block('description') }}"/>
        <meta name="twitter:image" content="">
        {# Une description textuelle de l'image transmettant la nature essentielle d'une image aux utilisateurs malvoyants. Maximum 420 caractères.  #}
        <meta name="twitter:image:alt" content=""/>

        {# ANIMATE CSS #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

        {# BOOTSTRAP #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        {# FONTAWESSOME #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css" integrity="sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css" integrity="sha512-G/T7HQJXSeNV7mKMXeJKlYNJ0jrs8RsWzYG7rVACye+qrcUhEAYKYzaa+VFy6eFzM2+/JT1Q+eqBbZFSHmJQew==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/solid.min.css" integrity="sha512-6mc0R607di/biCutMUtU9K7NtNewiGQzrvWX4bWTeqmljZdJrwYvKJtnhgR+Ryvj+NRJ8+NnnCM/biGqMe/iRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# CSS #}
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}" />

        {# SOUS MENU - DROPDOWN #}
        <link rel="stylesheet" href="{{asset('assets/css/sub-menu.css')}}" />

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </head>

    <body class="text-bg-dark">
        <div class="container">
            <header>
            {% include 'tools/navbar.html.twig' %}
            </header>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <main>
            {% block body %}{% endblock %}
            </main>
            <aside>
            {% block aside %}{% endblock %}
            </aside>
            <footer>
            {% block footer %}{% endblock %}
            </footer>
        </div>

        {# JAVASCRIPT BOOTSTRAP - POPPER #}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

        {# ACTIVATION DES INFO-BULLES DE BOOTSTRAP #}
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
        </script>

        {# SCRIPTS JS PERSONNALISES #}
        {% block javascripts_body %}{% endblock %}
    </body>
</html>
