<form method="post" action="{{ path('app_acteur_delete', {'id': acteur.id}) }}" onsubmit="return confirm('Etes vous certain de vouloir supprimer cet acteur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ acteur.id) }}">
    <button class="btn btn-outline-danger"><i class="fa-solid fa-trash fa-lg"></i> {{ button_label|default('') }}</button>
</form>
