{% extends 'base.html.twig' %}

{% block title %}Edit Acteur{% endblock %}

{% block body %}
    <h1 class="text-center fw-semibold text-warning p-5">{{ acteur.nom }}</h1>

    {{ include('acteur/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="row border border-start-0 border-end-0 border-secondary mt-4 p-3">
        <div class="col">
            <a href="{{ path('app_acteur_show', {'id': acteur.id}) }}" class="btn btn-outline-primary"><i class="fa-regular fa-eye fa-lg"></i></i> Afficher</a>
        </div>
        <div class="col text-end">
             {{ include ('acteur/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
        </div>
    </div>

    <div class="py-5">
        <a href="{{ path('app_acteur_index') }}"  class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour aux acteurs</a>
    </div>
{% endblock %}
