{% extends 'base.html.twig' %}

{% block title %}Acteur index{% endblock %}

{% block body %}
    <h1 class="text-center text-warning p-5 fw-semibold animate__animated animate__bounceInDown">{{ pagination.getTotalItemCount }} acteurs</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acteur in pagination %}
            <tr>
                <td>{{ acteur.id }}</td>
                <td>{{ acteur.nom }}</td>
                <td>
                    <div class="d-flex">
                            <div class="p-1">
                                <a href="{{ path('app_acteur_show', {'id': acteur.id}) }}" class="btn btn-outline-primary">
                                    <i class="fa-regular fa-eye fa-lg"></i> Voir
                                </a>
                            </div>
                            <div class="p-1">
                                <a href="{{ path('app_acteur_edit', {'id': acteur.id}) }}" class="btn btn-outline-primary">
                                    <i class="fa-regular fa-pen-to-square fa-lg"></i> Editer
                                </a>
                            </div>
                            <div class="p-1">
                                {{ include('acteur/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
                            </div>
                        </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="my-5">
        <a href="{{ path('app_acteur_new') }}" class="btn btn-primary"><i class="fa-regular fa-plus" aria-hidden="true"></i> Ajouter un acteur</a>
    </div>

    <div class="my-4">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
