{% extends 'base.html.twig' %}

{% block title %}Ajouter un acteur{% endblock %}

{% block body %}

    <h1 class="text-center fw-semibold text-warning p-5">Ajouter un acteur/actrice</h1>

    {{ include('acteur/_form.html.twig', {'button_label': 'Créer'}) }}

    <div class="py-5">
        <a href="{{ path('app_acteur_index') }}"  class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour aux acteurs</a>
    </div>
{% endblock %}
