{% extends 'base.html.twig' %}

{% block title %}Acteur{% endblock %}

{% block body %}
    <h1>Acteur</h1>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ acteur.nom }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row border border-start-0 border-end-0 border-secondary mt-5 p-3">
        <div class="col">
            <a href="{{ path('app_acteur_edit', {'id': acteur.id}) }}"class="btn btn-outline-primary"><i class="fa-regular fa-pen-to-square fa-lg"></i> Editer</a>
        </div>
        <div class="col text-end">
            {{ include('acteur/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
        </div>
    </div>

     <div class="py-5">
        <a href="{{ path('app_acteur_index') }}" class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour aux acteurs</a>
    </div>

{% endblock %}
