<form method="post" action="{{ path('app_fiche_cinema_delete', {'id': film.id}) }}" onsubmit="return confirm('Etes vous certain de vouloir supprimer cette fiche cinéma ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ film.id) }}">
    <button 
    class="btn btn-outline-danger"
    data-bs-toggle="tooltip" 
    data-bs-placement="top" 
    data-bs-custom-class="custom-tooltip"
    data-bs-title="supprimer"
    >
        <i class="fa-solid fa-trash fa-lg"></i>
        {{ button_label|default('') }}
    </button>
</form>
