{% extends 'base.html.twig' %}

{% block title %}Editer{% endblock %}

{% block body %}
    <h1 class="text-center fw-semibold text-warning p-5">{{ film.titre }}</h1>

    <div class="text-center">
        {% if(film.afficheFilename is null) %}
           <img src="{{ asset("assets/images/empty_portrait.webp") }}" alt="..." style="width: 300px;">
        {% else %}
            <img src="{{ asset(film.afficheFilename,  "affiches") }}" alt="..." style="max-width: 300px;">
        {% endif %}
    </div>

    <div class="p-3">
        {# {{ include('fiche_cinema/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }} #}
        {{ form_start(form) }}
            {{ form_row(form.fichierAffiche) }}

            {{ form_row(form.titre) }}

            {{ form_row(form.titreOriginal) }}

            {{ form_row(form.infoDateDureeGenre) }}

            {{ form_row(form.date) }}

            {{ form_row(form.duree) }}

            {{ form_row(form.score) }}

            <fieldset class="container border border-secondary mb-3">
                <legend class="col-form-label required">Genre(s) - Collection</legend>
                <div class="row">
                    {# Parcours tout les éléments de la liste déroulantes #}
                    {% for genre in form.genre %}
                        {{ form_row(genre.nom) }}
                    {% endfor %}
                </div>
                <hr>
                {# Ajouter un nouveau genre à partir des fiches cinéma #}
                <div class="d-flex flex-column">
                    <button type="button" class="add_item_link btn btn-primary mb-3" data-collection-holder-class="add-genre">Ajouter un genre</button>
                </div>
                <div 
                    class="add-genre"
                    data-index="{{ form.genre|length > 0 ? form.genre|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(form.genre.vars.prototype)|e('html_attr') }}">
                </div>
            </fieldset>
            
            <fieldset class="container border border-secondary mb-3">
                <legend class="col-form-label required">Réalisateur(s) - Collection</legend>
                <div class="row">
                    {# Parcours tout les éléments de la liste déroulantes #}
                    {% for realisateur in form.realisateur %}
                        {{ form_row(realisateur.nom) }}
                    {% endfor %}
                </div>
                <hr>
                {# Ajouter un nouveau genre à partir des fiches cinéma #}
                <div class="mb-3">
                    <div class="d-flex flex-column">
                        <button type="button" class="add_item_link btn btn-primary mb-3" data-collection-holder-class="add-realisateur">Ajouter un réalisateur</button>
                    </div>
                    <div 
                        class="add-realisateur"
                        data-index="{{ form.realisateur|length > 0 ? form.realisateur|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.realisateur.vars.prototype)|e('html_attr') }}">
                    </div>
                </div>
            </fieldset>

             <fieldset class="container border border-secondary mb-3">
                <legend class="col-form-label required">Acteur(s) - Collection</legend>
                <div class="row">
                    {# Parcours tout les éléments de la liste déroulantes #}
                    {% for acteur in form.acteur %}
                        {{ form_row(acteur.nom) }}
                    {% endfor %}
                </div>
                <hr>
                {# Ajouter un nouveau genre à partir des fiches cinéma #}
                <div class="mb-3">
                    <div class="d-flex flex-column">
                        <button type="button" class="add_item_link btn btn-primary mb-3" data-collection-holder-class="add-acteur">Ajouter un acteur</button>
                    </div>
                    <div 
                        class="add-acteur"
                        data-index="{{ form.acteur|length > 0 ? form.acteur|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.acteur.vars.prototype)|e('html_attr') }}">
                    </div>
                </div>
            </fieldset>

            {# Fortement conseillé pour afficher tout les autres champ dont le champ masqué pour le token #}
            {{ form_rest(form) }}

            {# {{ form_row(form.synopsis) }}
            {{ form_row(form.url) }}
            {{ form_row(form.linkUrl) }}
            {{ form_row(form.numPage) }} #}
            <button class="btn btn-primary"><i class="fa-solid fa-check fa-xl"></i> Enregistrer</button>
        {{ form_end(form) }}
    </div>

    <div class="row border border-start-0 border-end-0 border-secondary mt-4 p-3">
        <div class="col">
            <a href="{{ path('app_fiche_cinema_show', {'id': film.id}) }}" class="btn btn-outline-primary"><i class="fa-regular fa-eye fa-lg"></i></i> Afficher</a>
        </div>
        <div class="col text-end">
             {{ include ('fiche_cinema/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
        </div>
    </div>

    <div class="py-5">
        <a href="{{ path('app_fiche_cinema_index') }}"  class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour vers les fiches cinéma</a>
    </div>
{% endblock %}

{% block javascripts_body %}
    <script>
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('div');

            // item.classlist.add("list-group-item");

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                /__name__/g,
                collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };

        document.querySelectorAll('.add_item_link').forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
        });
    </script>
{% endblock %}