{% extends 'base.html.twig' %}

{% block title %}Fiches cinéma{% endblock %}

{% block body %}
    <h1 class="text-center text-warning p-5 fw-semibold animate__animated animate__bounceInDown">{{ pagination.getTotalItemCount }} films</h1>

    <div class="my-4">
        {{ knp_pagination_render(pagination) }}
    </div>

    {# Formulaire de recherche par titres #}
    <div class="row g-1 mb-3">
        <div class="col-md-8 p-3">
            <div class="mb-1">
                Saisir tout ou partie du titre original ou VF.
            </div>
            {{ form_start(chercheTitreFilmForm) }}
            <div class="input-group">
                {{ form_widget(chercheTitreFilmForm.filterTitle) }}
                <button type="submit" class="btn btn-outline-secondary">
                    <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="25px" width="25px" preserveaspectratio="xMidYMid meet" focusable="false">
                        <path fill="none" d="M0 0h24v24H0V0z"></path>
                        <path fill="white" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0016 9.5 6.5 6.5 0 109.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                    </svg>
                </button>
            </div>
            {{ form_end(chercheTitreFilmForm) }}
        </div>
        {# Afficher l'intégralité des films #}
        <div class="col-md p-3">
            <div class="mb-1">
                Afficher l'intégralité des films.
            </div>
            <div class="d-flex flex-column text-center mt-1">
                <a href="{{ path('app_fiche_cinema_index') }}" class="btn btn-outline-light">Tous les films...</a>
            </div>
        </div>
    </div>

    <div class="table-responsive">        
        <table class="table table-sm table-dark border-top border-secondary">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Page', 'numPage') }}</th>
                    <th>Affiche</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Titre', 'titre') }}</th>
                    <th>Titre original</th>
                    <th>Date de sortie</th>
                    <th>Durée</th>
                    <th>Réalisateurs</th>
                    <th>Acteurs</th>
                    <th>Synopsis</th>
                    <th>Note des utilisateurs</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for film in pagination %}
                    <tr>
                        <td>{{ film.numPage }}</td>
                        <td>
                            {% if(film.afficheFilename is null) %}
                                <img src="{{ asset("assets/images/empty_portrait.webp") }}" alt="..." style="width: 200px;">
                            {% else %}
                                <img src="{{ asset(film.afficheFilename,  "affiches") }}" alt="..." style="width: 150px;">
                            {% endif %}
                        </td>
                        <td>{{ film.titre }}</td>
                        <td>{{ film.titreOriginal }}</td>
                        <td>{{ film.date ? film.date|format_datetime('long', 'none', locale='fr') : '' }}</td>
                        <td class="text-nowrap">
                            {% if film.duree is not null %}
                                {% set duree = film.duree * 60 %}
                                {% set duree = duree|format_time("short")|split(':') %}
                                {% set getHours = duree[0] ~ 'h ' %}
                                {% set getMin = duree[1] ~ 'min' %}
                                {{ getHours ~ getMin }}
                            {% endif %}
                        </td>
                        <td>{{ film.realisateur|map(p=>"#{p.nom}")|join(', ') }}</td>
                        <td>{{ film.acteur|map(p=>"#{p.nom}")|join(', ') }}</td>
                        <td>{{ film.synopsis }}</td>
                        <td>{{ film.score }}</td>
                        <td>
                            <div class="d-flex flex-wrap justify-content-center">
                                <div class="p-1">
                                    <a 
                                    href="{{ path('app_fiche_cinema_show', {'id': film.id}) }}" 
                                    class="btn btn-outline-primary"
                                    data-bs-toggle="tooltip" 
                                    data-bs-placement="top" 
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="Afficher"
                                    >
                                        <i class="fa-regular fa-eye fa-lg"></i>
                                    </a>
                                </div>
                                <div class="p-1">
                                    <a 
                                    href="{{ path('app_fiche_cinema_edit', {'id': film.id}) }}" 
                                    class="btn btn-outline-primary"
                                    data-bs-toggle="tooltip" 
                                    data-bs-placement="top" 
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="Editer"
                                    >
                                        <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                    </a>
                                </div>
                                <div class="p-1">
                                    {{ include('fiche_cinema/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="my-4">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
