{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="text-center fw-semibold text-warning p-5">Ajouter une fiche cinéma</h1>

    {{ include('fiche_cinema/_form.html.twig') }}

    <div class="py-5">
        <a href="{{ path('app_fiche_cinema_index') }}"  class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour vers les fiches cinéma</a>
    </div>
{% endblock %}
