{% extends 'base.html.twig' %}

{% block title %}Fiche cinéma{% endblock %}

{% block body %}
    <h1 class="text-center fw-semibold text-warning p-5">{{ film.titre }}</h1>

    <table class="table text-bg-dark">
        <tbody>
            <tr>
                <th>Affiche</th>
                <td class="text-center">
                    {% if(film.afficheFilename is null) %}
                        <img src="{{ asset("assets/images/empty_portrait.webp") }}" alt="..." style="width: 300px;">
                    {% else %}
                        <img src="{{ asset(film.afficheFilename,  "affiches") }}" alt="..." style="max-width: 300px;">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Url de la page web</th>
                <td><a href="{{ film.url }}" target="_blank" >{{ film.url }}</a></td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ film.titre }}</td>
            </tr>
            <tr>
                <th>TitreOriginal</th>
                <td>{{ film.titreOriginal }}</td>
            </tr>
            <tr>
                <th>Date de sortie</th>
                <td>{{ film.date ? film.date|format_datetime('long', 'none', locale='fr') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ film.duree }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ film.genre|map(p=>"#{p.nom}")|join(', ') }}</td>
            </tr>
            <tr>
                <th>Réalisateur(s)</th>
                <td>{{ film.realisateur|map(p=>"#{p.nom}")|join(', ') }}</td>
            </tr>
            <tr>
                <th>Acteur(s)</th>
                <td>{{ film.acteur|map(p=>"#{p.nom}")|join(', ') }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ film.synopsis }}</td>
            </tr>
            <tr>
                <th>Note des spectateurs</th>
                <td>{{ film.score }}</td>
            </tr>
            <tr>
                <th>Info cumulées</th>
                <td>{{ film.infoDateDureeGenre }}</td>
            </tr>
            <tr>
                <th>Url de l'affiche</th>
                <td><a href="{{ film.linkUrl }}" target="_blank" >{{ film.linkUrl }}</a></td>
            </tr>
            <tr>
                <th>Nom de l'affiche téléchargée</th>
                <td>{{ film.afficheFilename }}</td>
            </tr>
            <tr>
                <th>Numero de page web</th>
                <td>{{ film.numPage }}</td>
            </tr>
            
        </tbody>
    </table>

    <div class="row border border-start-0 border-end-0 border-secondary mt-5 p-3">
        <div class="col">
            <a href="{{ path('app_fiche_cinema_edit', {'id': film.id}) }}"class="btn btn-outline-primary"><i class="fa-regular fa-pen-to-square fa-lg"></i> Editer</a>
        </div>
        <div class="col text-end">
            {{ include('fiche_cinema/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
        </div>
    </div>

     <div class="py-5">
        <a href="{{ path('app_fiche_cinema_index') }}" class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour vers les fiches cinéma</a>
    </div>

    

{% endblock %}
