
    <form method="post" action="{{ path('app_video_file_delete', {'id': video_file.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video_file.id) }}">
        <button 
        class="btn btn-outline-danger"
        data-bs-toggle="tooltip" 
        data-bs-placement="top" 
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Supprimer"
        >
            <i class="fa-solid fa-trash fa-lg"></i> 
            {{ button_label|default('Supprimer') }}
        </button>
    </form>


