{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex flex-column">
        <button class="btn btn-primary"><i class="fa-solid fa-check fa-xl"></i> {{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
