{% if is_streamable(video_file.path) %}
	<div class="col-lg-10 offset-lg-1 bg-black border border-secondary rounded p-0 mb-3">
		<div class="ratio ratio-16x9">
			<iframe src="{{url_server_video ~ video_file.path }}" title="YouTube video" allow="fullscreen"></iframe>
		</div>
	</div>
{% else %}
	<div class="d-flex justify-content-around">
		<div class="p-2 border-bottom border-warning">
			<a href="{{ path('app_stockage_show_video', {'id': video_file.id}) }}" class="btn btn-outline-light m-2">Regarder le film avec lecteur multimédia VLC</a>
		</div>
		<div class="p-2 border-bottom border-warning">
			<a href="{{ path('app_video_file_ffmpeg_encoder', {'id': video_file.id}) }}" class="btn btn-outline-light m-2">Convertir le film au format web avec FFmpeg</a>
		</div>
	</div>
{% endif %}
