{% extends 'base.html.twig' %}

{% block title %}Editer{% endblock %}

{% block body %}
    <h1 class="text-center fw-semibold text-warning p-5">{{ video_file.nom }}</h1>

    {{ include('video_file/_is_streamable.html.twig')}}

    {{ include('video_file/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="row border border-start-0 border-end-0 border-secondary mt-4 p-3">
        <div class="col">
            <a href="{{ path('app_video_file_show', {'id': video_file.id}) }}" class="btn btn-outline-primary"><i class="fa-regular fa-eye fa-lg"></i></i> Afficher</a>
        </div>
        <div class="col text-end">
            {{ include('video_file/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
        </div>
    </div>

    <div class="py-4">
        <a href="{{ path('app_video_file_index') }}"  class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour vers la liste des films</a>
    </div>
{% endblock %}