{% extends 'base.html.twig' %}

{% block title %}Encoder votre film{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/loaderComponent.css')}}" />
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/loaderComponent.js')}}"></script>
{% endblock %}

{% block body %}
    
    <h1 class="text-center fw-semibold text-warning p-5">ENCODER {{ getFilename(video_file.path) }} AVEC FFMPEG</h1>
    <div id="loader"></div>

    {% for message in app.flashes('ffmpeg') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="p-3 border border-secondary rounded">
        <h4 class="text-center border-bottom border-secondary pb-3 mb-4">{{ video_file.nom }}</h4>

        <h5 class="text-center text-info py-3">Information sur le film</h5>
        {% for stream in fileInfoFFmpeg %}
        <span class="fw-semibold text-info">Stream #</span>{{ stream }} <br/>
        {% endfor %}
        <hr>

        <h5 class="text-center text-info py-3">Paramètrage de FFmpeg</h5>
        {{form_start(encodageffmpegType)}}
            {{form_rest(encodageffmpegType)}}
            <button type="submit" class="btn btn-outline-primary" id="encodageffmpeg_btn">Encoder</button>
        {{form_end(encodageffmpegType)}}
    </div>

    <div class="modal" tabindex="-1" id="toggleMyModal">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content text-bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title">FFmpeg</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <pre>{{output|default('')}}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <a href="{{ path('app_video_file_index') }}" class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour vers la liste des films</a>
    </div>
{% endblock %}

{% block javascripts_body %}
    <script>
        // Active la modal
        const myModal = new bootstrap.Modal('#toggleMyModal');
        {% if output is defined %} myModal.show() {% endif %}

        let formFFmpeg = document.querySelector("form[name='encodageffmpeg']");
        let formSelectMethodeEncodage = formFFmpeg.querySelector('#encodageffmpeg_mutliplexage');
        let formSelectTauxCompression = formFFmpeg.querySelector('#encodageffmpeg_tauxDeCompressionVideo');
        let formSelectRatio = formFFmpeg.querySelector('#encodageffmpeg_ratio');

        const disabledSelect = () => {
            const idx = formSelectMethodeEncodage.selectedIndex;
            const val = formSelectMethodeEncodage.options[idx].value;
            if (val == "2" || val == "3") {
                // formSelectTauxCompression.style.display ='none';
                // formSelectRatio.style.display ='none';
                 formSelectTauxCompression.setAttribute('disabled', '');
                 formSelectRatio.setAttribute('disabled', '');
            } else {
                // formSelectTauxCompression.style.display ='block';
                // formSelectRatio.style.display ='block';
                formSelectTauxCompression.removeAttribute('disabled');
                formSelectRatio.removeAttribute('disabled');
            }
        }

        const encoder = document.querySelector('#encodageffmpeg_btn');
        const loader = document.getElementById('loader');
        formSelectMethodeEncodage.addEventListener("change", (event) => {
            disabledSelect();
        });


        encoder.addEventListener('click', async(event) => {
            loader.innerHTML = loaderComponent();
        });

        // const getLogffmpeg = async (url) => {
        //     let duration = 0, time = 0, progress = 0;
        //     let result = {};
        //     // CREATION DE L'ENTETE DE LA REQUETE
        //     const headers = new Headers();
        //     headers.append('Content-Type', 'application/json');
        //     const requestOptions = {
        //         method: 'GET',
        //         headers: headers,
        //     };
        //     return fetch("{{ app.request.schemeAndHttpHost }}" + "/film/ffmpeg/log", requestOptions)
        //         .then(response => response.json())
        //         .then((data) => {
        //             return data;
        //         })
        //         .catch((err) => {
        //             return {'message': err };
        //         })
        //     ;
        //     // setTimeout(function(){ _progress(0); }, 800);
        // }

        disabledSelect();

    </script>
{% endblock %}