{% extends 'base.html.twig' %}

{% block title %}Liste des films disponibles
{% endblock %}

{% block body %}
	<h1 class="text-center fw-semibold text-warning p-5">Liste des films disponibles</h1>

	<div class="table-responsive">
		<table class="table table-sm table-dark border-top border-secondary">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Id</th>
					<th>Emplacement</th>
					<th>Taille</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				{% for video_file in pagination %}
					<tr>
						<td>{{ video_file.nom }}</td>
						<td>{{ video_file.id }}</td>
						<td>{{ video_file.path }}</td>
						<td>{% set filesizeMo =  video_file.taille / (1024*1024) %}
							{% if(filesizeMo > 1000) %}
								{% set filesizeGo = filesizeMo / 1024 %}
								{{ filesizeGo|format_number({fraction_digit: 2}) }}
								Go
							{% else %}
								{{ filesizeMo|format_number({fraction_digit: 2}) }}
								Mo
							{% endif %}
						</td>
						<td>
							<div class="d-flex">
								<div class="p-1">
									<a href="{{ path('app_video_file_show', {'id': video_file.id}) }}" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Afficher">
										<i class="fa-regular fa-eye fa-lg"></i>
									</a>
								</div>
								<div class="p-1">
									<a href="{{ path('app_video_file_edit', {'id': video_file.id}) }}" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Editer">
										<i class="fa-regular fa-pen-to-square fa-lg"></i>
									</a>
								</div>
								{% if is_streamable(video_file.path) == false %}
									<div class="p-1">
										<a href="{{ path('app_video_file_ffmpeg_encoder', {'id': video_file.id}) }}" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Convertir la vidéo au format web">
											<i class="fa-sharp fa-solid fa-wand-magic-sparkles"></i>
										</a>
									</div>
								{% endif %}
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="my-5">
		<a href="{{ path('app_video_file_new') }}" class="btn btn-primary">
			<i class="fa-regular fa-plus" aria-hidden="true"></i>
			Ajouter un film</a>
	</div>

	<div class="my-4">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}
