<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Affiche moi les logs FFmpeg</h1>
    <button class="get-log">ok</button>
    <div id="root-id"></div>

    <script>
        let logger = document.querySelector('#root-id');
        let getLog =document.querySelector('.get-log');

        getLog.addEventListener('click', (event) => {
            setTimeout(function(){ _progress(0); }, 1000);
        })

        let _progress = async(i) => {
            i++;
            let contentResponse = await getLogffmpeg();

            // // AJAX success
            // var duration = 0, time = 0, progress = 0;
            // var result = {};
            // // get duration of source
            // var matches = (contentResponse) ? contentResponse.match(/Duration: (.*?), start:/) : [];
            // if( matches.length>0 ){
            //     var rawDuration = matches[1];
            //     // convert rawDuration from 00:00:00.00 to seconds.
            //     var ar = rawDuration.split(":").reverse();
            //     duration = parseFloat(ar[0]);
            //     if (ar[1]) duration += parseInt(ar[1]) * 60;
            //     if (ar[2]) duration += parseInt(ar[2]) * 60 * 60;

            //     // get the time 
            //     matches = contentResponse.match(/time=(.*?) bitrate/g);
            //     console.log( matches );

            //     if( matches.length>0 ){
            //         var rawTime = matches.pop();
            //         // needed if there is more than one match
            //         if (lang.isArray(rawTime)){ 
            //             rawTime = rawTime.pop().replace('time=','').replace(' bitrate',''); 
            //         } else {
            //             rawTime = rawTime.replace('time=','').replace(' bitrate','');
            //         }

            //         // convert rawTime from 00:00:00.00 to seconds.
            //         ar = rawTime.split(":").reverse();
            //         time = parseFloat(ar[0]);
            //         if (ar[1]) time += parseInt(ar[1]) * 60;
            //         if (ar[2]) time += parseInt(ar[2]) * 60 * 60;

            //         //calculate the progress
            //         progress = Math.round((time/duration) * 100);
            //     }

            //     result.status = 200;
            //     result.duration = duration;
            //     result.current  = time;
            //     result.progress = progress;
            // }

            logger.innerHTML = contentResponse;
            // logger.innerHTML = `
            //                     <p>${result.status}</p> 
            //                     <p>${result.duration}</p> 
            //                     <p>${result.current}</p> 
            //                     <p>${result.progress}</p> 
            //                     `

            setTimeout(function(){ _progress(i); }, 2000);
        }

        const getLogffmpeg = async() => {
            let duration = 0, time = 0, progress = 0;
            let result = {};
            // CREATION DE L'ENTETE DE LA REQUETE
            const headers = new Headers();
            headers.append('Content-Type', 'application/json');
            const requestOptions = {
                method: 'GET',
                headers: headers,
            };
            return fetch("http://localhost:8000/film/ffmpeg/get-log", requestOptions)
                .then(response => response.json())
                .then((data) => {
                    return data;
                })
                .catch((err) => {
                    return {'message': err };
                })
            ;
        }
        
    </script>
</body>
</html>