{% extends 'base.html.twig' %}

{% block title %}Ajouter un film{% endblock %}

{% block body %}

    <h1 class="text-center fw-semibold text-warning p-5">Ajouter un film</h1>

    {{ include('video_file/_form.html.twig', {'button_label': 'Créer'}) }}

    <div class="py-5">
        <a href="{{ path('app_video_file_index') }}"  class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour aux films</a>
    </div>


{% endblock %}
