{% extends 'base.html.twig' %}

{% block title %}VideoFile{% endblock %}

{% block body %}
    <h1 class="text-center fw-semibold text-warning p-5">{{ video_file.nom }}</h1>

    {{ include('video_file/_is_streamable.html.twig')}}

    <table class="table text-bg-dark">
        <tbody>
            <tr>
                <th>Titre du film</th>
                <td>{{ video_file.nom }}</td>
            </tr>
            <tr>
                <th>Emplacement</th>
                <td>{{ video_file.path }}</td>
            </tr>
            {# <tr>
                <th>Nom du fichier</th>
                <td>{{ video_file.filename }}</td>
            </tr> #}
            <tr>
                <th>Taille (octets)</th>
                <td>{{ video_file.taille }}</td>
            </tr>
            <tr>
                <th>Fiche cinéma</th>
                <td>{{ video_file.film }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ video_file.id }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row border border-start-0 border-end-0 border-secondary mt-4 p-3">
        <div class="col">
            <a href="{{ path('app_video_file_edit', {'id': video_file.id}) }}" class="btn btn-outline-primary"><i class="fa-regular fa-pen-to-square fa-lg"></i> Editer</a>
        </div>
        <div class="col text-end">
            {{ include('video_file/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="py-5">
        <a href="{{ path('app_video_file_index') }}" class="btn btn-outline-light"><i class="fa-solid fa-rotate-left"></i> Retour vers la liste des films</a>
    </div>
{% endblock %}


